*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    width: 15vw;
}

header{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 40%;
}

ul{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    font-size: 1.5rem;
}


li{
    width: 10vw;
}

li:hover{
    font-weight: bold;
    transform: scale(110%);
    color:brown;
    transition: 1.5s ease-in-out;
    cursor: pointer;
}

main{
    background-color: brown;
    height: 80vh;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}