*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    width: 15vw;
}

header{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 40%;
}

ul{
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    font-size: 1.5rem;
}